/* Global sections */

body {
	margin: 0;
	padding: 0; /*overwrite browser defaults */
	font-family: 'Kosugi Maru', sans-serif;	
}

.navbar {
	position: fixed;
	top: 0;
	width: 90%;
	background-color: black;
	color: white;
	border-bottom: 5px solid #437cff;
	padding-left: 5%;
	padding-right: 5%;
	min-height: 200px;
}

.navbar-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: 150px;
	column-gap: 5%;
}

.content {
	width: 90%;
	margin-top: 200px;
	padding: 0 5% 15% 5%;
}

.footer {
	background-color: #437cff;
	padding: 25% 5% 5% 5%;
	width: 90%;		
	text-align: left;	
}


/* Global styles */



/* Section specific styling */

.site-id {
	font-family: 'Staatliches', sans serif;	
	font-size: calc(24px + .8vw);
}

.menu {
	font-size: calc(16px + .8vw);
	padding-top: 30px;
	align-content: right;
	text-align: right;
}

.menu li {
	display: inline;
	margin-right: 7%;
}

.menu a {
	color: white;
}

.menu a:hover {
	background-color: #437cff;
}

.footer ul {
	margin: 0;
	padding: 0;
}

.footer li {
	list-style-type: none;
	margin-left: 0;
	margin-top: 1%;	
	padding: 0;
}

*/