/* Global sections */

body {

}

.navbar {
	position: fixed;
	top: 0;
	width: 90%;
	background-color: black;
	color: white;
	border-bottom: 5px solid lightblue;
	padding-left: 5%;
	padding-right: 5%;
	min-height: 130px;
}

.content {
	width: 90%;
	height: auto;
	margin-top: 130px;
	padding: 0 5% 15% 5%;
}

.footer {
	background-color: lightblue;
	padding: 25% 5% 5% 5%;
	width: 90%;		
}


/* Section specific styling */

.site-id {
	font-family: 'Staatliches', sans serif;	
	font-size: calc(24px + .8vw);
}

.menu {
}

.menu li {
	display: inline;
	margin-left: 5%;
}

.footer ul {
	margin: 0;
	padding: 0;
}


.footer li {
	list-style-type: none;
	margin-left: 0;
	margin-top: 1%;	
	padding: 0;
}

*/